body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.at-login-form .signup-or-separator {
	background: none;
	height: 34px;
	position: relative;
	text-align: center;
}
.at-login-form .signup-or-separator--text {
	background-color: #fff;
	display: inline-block;
	padding: 8px;
}

.at-login-form .btn-fb
{
	display: inline-block;
	padding: 18px 20px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 0px;
	background-color: #4568B2;
	width: 100%;
	margin-top: 10px;
	color:#fff;
}

.at-login-form .btn-gp
{
	display: inline-block;
	padding: 18px 20px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid #eee;
	border-radius: 0px;
	background-color: #FFFFFF;
	width: 100%;
	margin-top: 10px;
	color:#000;
}

.at-login-form .btn-lgin
{
	display: inline-block;
	padding: 18px 20px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid #eee;
	border-radius: 0px;
	background-color: #1DB9EC;
	width: 100%;
	margin-top: 10px;
	color:#fff;
}